
#images{
    margin: 2rem;
    .pedra-e-flor{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    h3{
        text-transform: uppercase;
        text-align: center;
        font-size: calc($tamanho-do-texto / 2.5);
        margin: 1rem;
        color: $cor-secundaria;
        font-weight: 500;
    }

    h4{
        text-align: center;
        font-size:calc( $tamanho-do-texto / 1.2);
        margin-bottom: 1rem;
        font-weight: 300;
    }

    p{
        font-size: calc($tamanho-do-texto/2.5);
        font-weight: 300;
        color: $cor-primaria;
        line-height: 1.25rem;
        text-align: center;
    }
}

